body{
    font-size: 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
  width: 100%;
  background-color: #dbc7;
  color: rgb(0, 0, 0);
}

.title h1{
  width: 30%;
  margin: 0.5em auto;
}
.descr{
  width: 50%;
  height: 60%;
  margin: 3em 0 3em 0;
  border: solid;
  background-color: #301810;
  padding: 1.8em;
  border-radius: 24px;
  color: white;
  font-weight: lighter;
}
.game-part{
 width: 80%;
}
.name-and-gender{
    width: 100%;
     display: flex;
     justify-content: space-between;
  }

  .name-and-gender > div{
    width: 40%;
    display: flex;
    flex-direction: column;

  }

  .name-and-gender input, select {
    display: block;
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  
  }

  input[type=submit],[type=button]  {
    display: block;
    width: 30%;
    margin: auto;
    background-color: #dbc7;
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;


  }
  input[type=button]{
    background-color: rgb(148, 148, 148);

  }
  .score-and-submits{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
  }
.score{
    font-size: inherit;
    margin-bottom: 2em;
}
.score input{
    display: block;
    width: 4%;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: inherit;
}
a{
  display: inline-block;
  width: 100%;
  text-decoration: none;
}

.buttons{
  margin-top: 4em;
}
